button {
    color: orange; 
    background-color: white;
    padding: 8px 30px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer; 
    hover {
    transform: scale(1.2)
    background-color: rgb(255, 132, 0); 
  }
    }

body {
  background-color:rgb(27, 138, 248);
}

header {
    color: orange;
    background-color: rgb(65, 48, 219)
    padding: 100px;
    margin: auto;
    font-size: 90px;
    font-weight: bolder;
    text-align: center;
    border: blue;
}

div {
    display: inline-block;
}

.flip-card {
    background-color: pink;
    width: 100px;
    height: 50px;
    border: 1px solid black;
  }

.cardInner {
    transform: rotateY(180deg);
  }
 
  .frontOfCard, .backOfCard {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .frontOfCard {
    background-color: whitesmoke;
    color: black;
    border-color: orange;
  }
  
  .backOfCard {
    background-color: whitesmoke;
    transform: rotateY(180deg);
    border: black;
  }